.container {
    width: 300px;
    height: auto;
    background-color: #95a9b8;
  /*   margin: 20vh auto; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4rem;
    padding: 5px;
    height: 40px;
  }
  
  .search__box {
    float: inline-end;
    width: 0;
    height: 2rem;
  /*   display: inline; */
    background: none;
    color: #f7f7f7;
    font-size: 1rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    position: relative;
    opacity: 1;
    transition: all .70s ease-in;
    cursor: pointer;
  /*   border: 2px solid tomato; */
  /*   margin-top: 5px; */
  }
  
  /* .search__box:focus, .search__box:hover {
    background-color: #f1f2f6;
  } */
  
  .search__icon {
    box-sizing: border-box;
    float: right;
    font-size: 2.5rem;
    display: inline-block;
  /*   justify-content: center;
    align-items: center; */
    margin-left: 2px;
    margin-top: 0;
    cursor: pointer;
    position: absolute;
    color: #fa983a;
    transition: all .25s ease-in;
    padding: .3rem;
    border-radius: 50%;
  }
  
  .container:hover > .search__box {
    width: 80%;
    padding: 0 1rem;
  }
  
  .container:hover > .search__icon {
    background-color: #eee;
  }
  
  .show {
    width: 70%;
    border: 1px solid rgb(4, 44, 32);
  }
  
  
